@page "/counter"

<h1>Flight Finder</h1>

<form action="/action_page.php">
    <label for="From">From:</label>
    <input type="text" placeholder="Any">

    <label for="To">To:</label>
    <input type="text" placeholder="Any">

    <label for="Day">Day:</label>
    <input type="text" placeholder="Any">
    
    <input type="submit" value="Find Flights">
</form>

@code {
    
}
